<nav th:fragment="bottomNav" class="bottom-nav">
<!--    <a th:href="@{/}" class="bottom-nav__item" // TODO(yongss): 추후 복구(해당 줄 복사하여 전체 롤백)-->
<!--       th:classappend="${currentUri == '/' ? 'on' : ''}">// TODO(yongss): 추후 복구(해당 줄 복사하여 전체 롤백)-->
    <a th:href="@{/index2}" class="bottom-nav__item"
       th:classappend="${currentUri == '/index2' ? 'on' : ''}">
        <span class="bottom-nav__icon bottom-nav__icon--home"></span>
        <span class="bottom-nav__label">홈</span>
    </a>
    <a th:href="@{/map}" class="bottom-nav__item"
       th:classappend="${currentUri.startsWith('/map') ? 'on' : ''}">
        <span class="bottom-nav__icon bottom-nav__icon--map"></span>
        <span class="bottom-nav__label">동네 부동산</span>
    </a>
    <a href="#"
       onclick="toggleMorePanel(event)"
       class="bottom-nav__item">
        <span class="bottom-nav__icon bottom-nav__icon--more"></span>
        <span class="bottom-nav__label">더보기</span>
    </a>
</nav>