<nav th:fragment="bottomNav" class="bottom-nav">
    <a th:href="@{/}" class="bottom-nav__item on">
        <span class="bottom-nav__icon bottom-nav__icon--home"></span>
        <span class="bottom-nav__label">홈</span>
    </a>
    <a th:href="@{/map}" class="bottom-nav__item">
        <span class="bottom-nav__icon bottom-nav__icon--map"></span>
        <span class="bottom-nav__label">동네 부동산</span>
    </a>
    <a th:href="@{/temp/login}"
       th:if="${!tempLogin}"
       class="bottom-nav__item">
        <span class="bottom-nav__icon bottom-nav__icon--user"></span>
        <span class="bottom-nav__label">더보기(로그인)</span>
    </a>
    <a th:href="@{/temp/logout}"
       th:if="${tempLogin}"
       class="bottom-nav__item">
        <span class="bottom-nav__icon bottom-nav__icon--user"></span>
        <span class="bottom-nav__label">더보기(로그아웃)</span>
    </a>
</nav>