<header th:fragment="header" class="mobile-header">
<!--    <a class="header-left" th:href="@{/}">// TODO(yongss): 추후 복구(해당 줄 복사하여 전체 롤백)-->
    <a class="header-left" th:href="@{/index2}">
        <img src="/img/70x40-text.svg"
             alt="우리동네 부동산"
             class="header-logo">
    </a>
    <div class="header-right">
        <a class="header-right__icon header-icon__magnifier" th:href="@{/search}" aria-label="검색"></a>
        <a class="header-right__icon header-icon__bell" th:href="@{/alarm}" aria-label="알림"></a>
    </div>
</header>
