<section id="more-panel" class="full-panel" th:fragment="morePanel">
    <div class="common-header">
        <button class="common-header__back btn--modal-close"></button>
        <div class="common-header__title">더보기</div>
        <div class="common-header__right btn--modal-close"></div>
    </div>

    <div class="more-content">

        <div class="more-content__card">
            <div class="card__profile">
                <div class="profile__no-image"></div>
                <div class="profile__nickname"
                     th:text="${login.authenticated} ? ${login.email} : '로그인을 해주세요'">로그인을 해주세요</div>
            </div>

            <div th:if="${login.authenticated}" class="card__bottom-wrapper">
                <div class="card__credit-wrapper">
                    <span class="card__credit-text">크레딧</span>
                    <span class="card__credit-credit">25,000C</span>
                </div>
                <button type="button" class="btn btn--primary home-block__cta" onclick="location.href='/sending'">
                    매물 보내기
                </button>
            </div>
        </div>

        <div class="more-content__credit">
            <div class="credit__btn-wrapper">
                <span class="credit__btn is-selected">전체</span>
                <span class="credit__btn">충전</span>
                <span class="credit__btn">차감</span>
                <span class="credit__btn">환불</span>
            </div>

            <div class="credit__content-wrapper">
                <div class="credit__top-wrapper">
                    <span class="credit__total-text">총 <span class="point_b bold">5</span>건</span>
                    <span class="credit__filter-wrapper">
                        <span class="credit__filter-text">전체기간</span>
                        <span class="credit__filter-icon"></span>
                    </span>
                </div>

                <div class="credit__middle">2025년</div>

                <div class="credit__bottom-wrapper">
                    <div class="credit__item">
                        <div class="credit__item-top">
                            <div class="credit__item-left">
                                <span class="credit__item-date">07.30</span>
                                <span class="credit__item-title">크레딧 충전</span>
                            </div>
                            <span class="credit__item-right plus">+100C</span>
                        </div>

                        <div class="credit__item-bottom">
                            05:54 | 5,000원
                        </div>
                    </div>

                    <div class="credit__item">
                        <div class="credit__item-top">
                            <div class="credit__item-left">
                                <span class="credit__item-date">08.02</span>
                                <span class="credit__item-title">크레딧 차감</span>
                            </div>
                            <span class="credit__item-right minus">-100C</span>
                        </div>

                        <div class="credit__item-bottom">
                            06:22 | 100건 발송
                        </div>
                    </div>

                    <div class="credit__item">
                        <div class="credit__item-top">
                            <div class="credit__item-left">
                                <span class="credit__item-date">08.04</span>
                                <span class="credit__item-title">크레딧 차감</span>
                            </div>
                            <span class="credit__item-right minus">-50C</span>
                        </div>

                        <div class="credit__item-bottom">
                            06:22 | 50건 발송
                        </div>
                    </div>

                    <div class="credit__item">
                        <div class="credit__item-top">
                            <div class="credit__item-left">
                                <span class="credit__item-date">08.05</span>
                                <span class="credit__item-title">크레딧 차감</span>
                            </div>
                            <span class="credit__item-right minus">-300C</span>
                        </div>

                        <div class="credit__item-bottom">
                            09:30 | 300건 발송
                        </div>
                    </div>

                    <div class="credit__item">
                        <div class="credit__item-top">
                            <div class="credit__item-left">
                                <span class="credit__item-date">08.06</span>
                                <span class="credit__item-title">크레딧 차감</span>
                            </div>
                            <span class="credit__item-right minus">-200C</span>
                        </div>

                        <div class="credit__item-bottom">
                            07:15 | 200건 발송
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="more-content__links">
            <a class="more-content__link"
               th:href="@{/login}"
               th:unless="${login.authenticated}">
                <div class="link__double-line">
                    <div class="link__text">로그인/회원가입</div>
                    <div class="link__caption">회원가입을 하시면 다양한 기능을 활용할 수 있어요!</div>
                </div>
                <div class="link__icon"></div>
            </a>
            <div class="more-content__link"
                 th:if="${login.authenticated}">
                <div class="link__text">알림</div>
                <div class="link__icon"></div>
            </div>
            <a class="more-content__link"
               th:href="@{/listings}"
               th:if="${login.authenticated}">
                <div class="link__text">내 매물 관리</div>
                <div class="link__icon"></div>
            </a>
            <a class="more-content__link"
               th:href="@{/payments/manage}"
               th:if="${login.authenticated}">
                <div class="link__text">결제관리</div>
                <div class="link__icon"></div>
            </a>
            <div class="more-content__link">
                <div class="link__text">고객센터</div>
                <div class="link__icon"></div>
            </div>
            <div class="more-content__link"
                 th:if="${login.authenticated}">
                <div class="link__text">발송내역</div>
                <div class="link__icon"></div>
            </div>
            <div class="more-content__link"
                 th:if="${login.authenticated}">
                <div class="link__text">내 정보 수정하기</div>
                <div class="link__icon"></div>
            </div>
            <form th:action="@{/logout}"
                  method="post"
                  th:if="${login.authenticated}">
                <button type="submit"
                        class="more-content__link">
                    <span class="link__text">로그아웃</span>
                    <span class="link__icon"></span>
                </button>
            </form>
        </div>
    </div>
</section>
