<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
        ~{::title},
        ~{::pcSideContent},
        ~{::section},
        ~{::extraCss}
      )}">

<head>
    <title th:fragment="title">알림 센터</title>
</head>

<th:block th:fragment="pcSideContent">
    <th:block th:replace="~{fragments/pc-side :: pcSideContent}"></th:block>
</th:block>

<th:block th:fragment="extraCss">
    <link rel="stylesheet" th:href="@{/css/alarm.css(t=${#dates.createNow().time})}">
</th:block>

<section class="alarm-page">
    <div class="common-header alarm-header">
        <button class="common-header__back" th:onclick="history.back()"></button>
        <div class="common-header__title">알림 센터</div>
        <div class="common-header__right btn--setting"></div>
    </div>

    <div class="alarm-wrapper non-existing" hidden>

        <div class="alarm__non-existing-wrapper">
            <img src="/img/170x81-alarm-face.png" class="icon__alarm-face">
            <div class="non-existing__text-wrapper">
                <div class="non-existing__title">알림이 아직 없어요!</div>
                <div class="non-existing__text">새 매물이나 중요한 소식이 오면<br>여기에서 알려드려요!</div>
            </div>
        </div>

    </div>

    <div class="alarm-wrapper existing">

        <div class="alarm__existing-wrapper">

            <div class="alarm__notice">
                <span class="alarm__notice-text">알림이 허용되어 있지 않습니다.</span>
                <span class="alarm__notice-icon"></span>
            </div>

            <div class="alarm__button-wrapper">
                <div class="alarm__button">
                    <span class="alarm__check-icon"></span>
                    <span class="alarm__button-text">모두 읽기</span>
                </div>
                <div class="alarm__button">
                    <span class="alarm__trash-icon"></span>
                    <span class="alarm__button-text">삭제하기</span>
                </div>
            </div>

            <div class="alarm__list-wrapper">
                <div class="alarm__item">
                    <span class="alarm__thumb"></span>
                    <div class="alarm__content">
                        <div class="alarm-content__top">
                            <div class="alarm-content__info">
                                <div class="alarm-content__title">
                                    <span class="alarm-content__name">서울하늘부동산</span>
                                    <span class="alarm-content__dot">·</span>
                                    <span class="alarm-content__date">3일 전</span>
                                </div>
                                <span class="alarm-content__more"></span>
                            </div>
                            <div class="alarm-content__message">서울하늘부동산에서 메시지를 보냈습니다.</div>
                        </div>
                        <div class="alarm-content__bottom">
                            <span class="alarm-content__count">+3</span>
                            <span class="alarm-content__view">더 많은 알림 보기</span>
                        </div>
                    </div>
                </div>
                <div class="alarm__item is-read">
                    <span class="alarm__thumb"></span>
                    <div class="alarm__content">
                        <div class="alarm-content__top">
                            <div class="alarm-content__info">
                                <div class="alarm-content__title">
                                    <span class="alarm-content__name">서울하늘부동산</span>
                                    <span class="alarm-content__dot">·</span>
                                    <span class="alarm-content__date">3일 전</span>
                                </div>
                                <span class="alarm-content__more"></span>
                            </div>
                            <div class="alarm-content__message">서울하늘부동산에서 메시지를 보냈습니다.</div>
                        </div>
                        <div class="alarm-content__bottom">
                            <span class="alarm-content__count">+3</span>
                            <span class="alarm-content__view">더 많은 알림 보기</span>
                        </div>
                    </div>
                </div>
                <div class="alarm__item">
                    <span class="alarm__thumb"></span>
                    <div class="alarm__content">
                        <div class="alarm-content__top">
                            <div class="alarm-content__info">
                                <div class="alarm-content__title">
                                    <span class="alarm-content__name">서울하늘부동산</span>
                                    <span class="alarm-content__dot">·</span>
                                    <span class="alarm-content__date">3일 전</span>
                                </div>
                                <span class="alarm-content__more"></span>
                            </div>
                            <div class="alarm-content__message">서울하늘부동산에서 메시지를 보냈습니다.</div>
                        </div>
                        <div class="alarm-content__bottom">
                            <span class="alarm-content__count">+3</span>
                            <span class="alarm-content__view">더 많은 알림 보기</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>