<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
        ~{::title},
        ~{::pcSideContent},
        ~{::section},
        ~{::extraCss}
      )}">

<head>
    <title th:fragment="title">로그인</title>
</head>

<th:block th:fragment="pcSideContent">
    <div class="align_center direction_column pc-side-inner">
        <h1 class="pc-side-title">우리 동네 부동산</h1>
        <p class="pc-side-desc">
            내 주변 중개사, 매물 정보를<br/>
            한 번에 확인하세요.
        </p>
        <img src="/img/side-test.jpeg"
             alt="우리 동네 부동산 소개"
             class="pc-side-img"
             style="width: 50%">
    </div>
</th:block>

<th:block th:fragment="extraCss">
    <link rel="stylesheet" th:href="@{/css/login.css(t=${#dates.createNow().time})}">
</th:block>

<section class="login-page">
    <div class="common-header">
        <button class="common-header__back" th:onclick="history.back()"></button>
        <div class="common-header__title">로그인</div>
        <div class="common-header__right"></div>
    </div>

    <div class="login-wrapper">

        <form th:action="@{/login}" method="post" class="login-form">
            <div class="login-wrapper--id">
                <div class="email__text">이메일</div>
                <div class="common-input-wrapper target__clear-wrapper">
                    <input type="text"
                           placeholder="이메일을 입력해 주세요"
                           class="common-input target--clear-input"
                           name="loginId"
                           oninput="__toggleClearBtn(this)"/>
                    <button type="button"
                            class="common-input-btn common-input__clear-btn target--clear-btn"
                            onclick="__clearInput(this)"></button>
                </div>
            </div>
            <div class="login-wrapper--pw">
                <div class="pw__text">비밀번호</div>
                <input type="password"
                       placeholder="비밀번호를 입력해 주세요"
                       class="common-input"
                       name="password"/>
                <div class="common-text--error">이메일 또는 비밀번호가 틀렸습니다. 다시 한번 시도해주세요.</div>
            </div>
            <button class="btn btn--sm btn--disabled" id="btnLogin">로그인</button>
        </form>

        <div class="login-wrapper--sns">
            <div class="sns__hr"></div>
            <div class="sns__text">SNS 계정으로 간편 가입하기</div>
            <div class="sns__hr"></div>
        </div>

        <div class="login-wrapper--sns-icons">
            <a th:href="@{/oauth2/authorization/kakao}" class="sns__icon icon__kakao"></a>
            <a th:href="@{/oauth2/authorization/google}" class="sns__icon icon__google"></a>
            <a th:href="@{/oauth2/authorization/naver}" class="sns__icon icon__naver"></a>
        </div>

        <div class="login-bottom-wrapper">
            <a class="btn btn--sm btn--bold-outline" th:href="@{/join}">이메일로 시작하기</a>

            <div class="login-wrapper--find">
                <div class="find__text pointer">아이디 찾기</div>
                <div class="find__text pointer">비밀번호 찾기</div>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const $loginId = document.querySelector('input[name="loginId"]');
            const $pw = document.querySelector('input[name="password"]');
            const $btn = document.getElementById('btnLogin');

            if (!$loginId || !$pw || !$btn) return;

            /**
             * @date    2026-01-26
             * @author  yongss
             *
             * 처리 과정:
             *  - 이메일, 비밀번호 입력(또는 제거)할 때 마다 실행
             *  - 이메일, 비밀번호가 둘 다 입력되어 있는지 검증
             *  - 입력 상태에 따라 클래스 추가/제거
             *
             * 예외/주의:
             *  - .btn--disabled: 비활성(grey 컬러, 클릭 불가)
             *  - .btn--primary: 활성(black 컬러, 클릭 가능)
             */
            function syncLoginButton() {
                const ok = $loginId.value.trim().length > 0 && $pw.value.trim().length > 0;

                $btn.classList.toggle('btn--disabled', !ok);
                $btn.classList.toggle('btn--primary', ok);

                $btn.disabled = !ok;
            }

            //초기 1회
            syncLoginButton();

            //입력할 때마다 갱신
            $loginId.addEventListener('input', syncLoginButton);
            $pw.addEventListener('input', syncLoginButton);
        });
    </script>

</section>
</html>