<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/default :: layout(~{::title}, ~{::section})}">
<head>
    <title>우리 동네 부동산 지도</title>
</head>

<body>
<section>
    <!-- 네이버 지도 API -->
    <script type="text/javascript"  th:src="'https://oapi.map.naver.com/openapi/v3/maps.js?ncpKeyId=' + ${naverClientId}"></script>

    <!-- 지도 영역 -->
    <div class="main-content">
        <div id="map" style="width: 100%; height: 500px"></div>
    </div>

    <!-- map control -->
    <script>

        let map;
        let markers = [];

        function initMap() {

            const center = new naver.maps.LatLng(33.464933, 126.530862);

            map = new naver.maps.Map('map', {
                center: center,
                zoom: 13
            });

            loadBrokersInBounds();

            naver.maps.Event.addListener(map, 'idle', function () {
                loadBrokersInBounds();
            })
        }

        function loadBrokersInBounds() {

            const bounds = map.getBounds();
            if(!bounds) {
                return;
            }

            const zoom = map.getZoom();
            const MIN_ZOOM_INTERVAL = 12;//3km 이하일 때만 마커 노출

            if (zoom < MIN_ZOOM_INTERVAL) {
                clearMarkers();
                return;
            }

            const sw = bounds.getSW();
            const ne = bounds.getNE();

            const south = sw.lat();
            const north = ne.lat();
            const west = sw.lng();
            const east = ne.lng();

            const url = `/map/api/brokers?south=${south}&north=${north}&west=${west}&east=${east}`;

            fetch(url)
                .then(res => res.json())
                .then(data => {
                    renderMarkers(data)
                })
                .catch(err => console.error(err));
        }

        function renderMarkers(brokers) {

            markers.forEach(m => m.setMap(null));
            markers = [];

            brokers.forEach(b => {
                const marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(b.lat, b.lng),
                    map: map,
                    icon: {
                        url: '/img/marker-agency.png',
                        size: new naver.maps.Size(56, 56),
                        scaledSize: new naver.maps.Size(56, 56),
                        origin: new naver.maps.Point(0, 0),
                        anchor: new naver.maps.Point(28, 56)
                    },
                    title: b.officeName
                });

                markers.push(marker);
            });
        }

        function clearMarkers() {
            markers.forEach(m => m.setMap(null));
            markers = [];
        }

        window.onload = initMap;

    </script>

</section>
</body>
</html>

