<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
        ~{::title},
        ~{::pcSideContent},
        ~{::section},
        ~{::extraCss}
      )}">

<head>
    <title th:fragment="title">중개사 찾기</title>
</head>

<th:block th:fragment="pcSideContent">
    <div class="align_center direction_column pc-side-inner">
        <h1 class="pc-side-title">우리 동네 부동산</h1>
        <p class="pc-side-desc">
            내 주변 중개사, 매물 정보를<br/>
            한 번에 확인하세요.
        </p>
        <img src="/img/side-test.jpeg"
             alt="우리 동네 부동산 소개"
             class="pc-side-img"
             style="width: 50%">
    </div>
</th:block>

<th:block th:fragment="extraCss">
    <link rel="stylesheet" th:href="@{/css/region.css(t=${#dates.createNow().time})}">
</th:block>

<section>
    <div class="region-header">
        <button class="region-header__back" th:onclick="history.back()"></button>
        <div class="region-header__title">중개사 찾기</div>
        <div class="region-header__right"></div>
    </div>
    <div class="region-text">찾으시는 중개사의 step를선택해주세요.</div>
    <div class="region-tag-wrapper">
        <span class="region-tag region-tag--sido">서울특별시</span>
        <span class="region-tag region-tag--sido">인천광역시</span>
        <span class="region-tag region-tag--sido">부산광역시</span>
        <span class="region-tag region-tag--sido">대구광역시</span>
        <span class="region-tag region-tag--sido">대전광역시</span>
        <span class="region-tag region-tag--sido">광주광역시</span>
        <span class="region-tag region-tag--sido">울산광역시</span>
        <span class="region-tag region-tag--sido">경기도</span>
        <span class="region-tag region-tag--sido">전라남도</span>
        <span class="region-tag region-tag--sido">전라북도</span>
        <span class="region-tag region-tag--sido">충청남도</span>
        <span class="region-tag region-tag--sido">충청북도</span>
        <span class="region-tag region-tag--sido">경상남도</span>
        <span class="region-tag region-tag--sido">경상북도</span>
        <span class="region-tag region-tag--sido">세종특별자치도</span>
        <span class="region-tag region-tag--sido">제주특별자치도</span>
        <span class="region-tag region-tag--sigungu">시군구 색감 확인용</span>
    </div>
</section>