.credits-page {
    min-height: calc(var(--app-vh, 1vh) * 100);
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.credits-history-wrapper {
    display: flex;
    flex-direction: column;
    gap: 36px;
    margin-top: 36px;
    height: calc(var(--app-vh, 1vh) * 60);
    min-height: 0;
}

.credits-history__filter {
    display: flex;
    flex: 0 0 auto;
    border-radius: 12px;
    border: 1px solid #262626;
    overflow: hidden;
}

.credits-history__filter-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 52px;
    background: #ffffff;
    font-weight: 400;
    font-size: 16px;
    color: #262626;
}

.credits-history__filter-item:not(:last-child) {
    border-right: 1px solid #262626;
}

.credits-history__filter-item.is-active {
    font-weight: 600;
    font-size: 16px;
    background: #262626;
    color: #ffffff;
}

.credits-history__list {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    padding: 1px;
    border-radius: 16px;
    border: 0.67px solid #bfbfbf;
}

.credits-history__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.credits-history__item:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
}

.credits-history__left {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.credits-history__title-wrapper {
    display: flex;
    gap: 4px;
}

.credits-history__title,
.credits-history__count {
    font-weight: 600;
    font-size: 18px;
    color: #0d0d0d;
}

.credits-history__info-wrapper {
    display: flex;
    gap: 2px;
}

.credits-history__date,
.credits-history__dot,
.credits-history__time,
.credits-history__price {
    font-weight: 400;
    font-size: 16px;
    color: #737373;
}

.credits-history__price-tag {
    display: flex;
    align-items: center;
    padding: 4px 12px;
    font-weight: 600;
    font-size: 16px;
}

.used-tag {
    color: #b41f1f;
}

.charged-tag {
    color: #08592a;
}

.credits-btn__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    padding: 36px 0;
    margin-top: auto;
}

.credits-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    border-radius: 12px;
    cursor: pointer;
    font-weight: 400;
    font-size: 20px;
    color: #262626;
    border: 1px solid #a6a6a6;
}

.credits-charge-wrapper {
    display: flex;
    flex-direction: column;
}

.credits-charge__selector-wrapper {
    display: flex;
    flex-direction: column;
    gap: 37px;
    margin-bottom: 11px;
}

.credits-charge__own-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border-radius: 16px;
    border: 1px solid #f2f2f2;
    cursor: pointer;
}

.credits-charge__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credits-charge__semi-title,
.credits-charge__won,
.credits-charge__selected-text,
.credits-charge__expected-text {
    font-weight: 400;
    font-size: 16px;
    color: #8c8c8c;
}

.credits-charge__caption {
    font-weight: 400;
    font-size: 12px;
    color: #a6a6a6;
}

.credits-charge__bottom {
    display: flex;
    gap: 2px;
}

.credits-charge__own {
    font-weight: 700;
    font-size: 20px;
    color: #0d0d0d;
}

.credits-charge__charge-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.credits-charge__title,
.credits-charge__credits,
.credits-charge__method-title {
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
}

.credits-charge__price-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.credits-charge__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 20px 24px;
    border-radius: 16px;
    border: 1px solid #f2f2f2;
    background: #ffffff;
    cursor: pointer;
}

.credits-charge__item.is-active {
    border: 2px solid #262626;
    background: #f2f2f2;
}

.credits-charge__item.is-active .credits-charge__check {
    background-image: url("../img/24x24-checked-circle.png");
}

.credits-charge__left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.credits-charge__check {
    width: 24px;
    height: 24px;
    background-image: url("../img/24x24-unchecked-circle.png");
}

.credits-charge__selected-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 20px;
    border-radius: 16px;
    border: 1px solid #f2f2f2;
    background: #f9f9f9;
}

.credits-charge__selected-top,
.credits-charge__selected-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.credits-charge__selected-credits {
    font-weight: 400;
    font-size: 16px;
    color: #0d0d0d;
}

.credits-charge__expected-won {
    font-weight: 700;
    font-size: 18px;
    color: #0d0d0d;
}

.credits-charge__question {
    text-align: center;
    margin: 43px 0;
    font-weight: 400;
    font-size: 16px;
    color: #404040;
}

.credits-charge__method-wrapper {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.credits-charge__method-container {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 1px solid #f2f2f2;
}

.credits-charge__method-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    height: 80px;
    cursor: pointer;
}

.credits-charge__method-item:not(:last-child) {
    border-bottom: 1px solid #f2f2f2;
}

.credits-charge__method-left {
    display: flex;
    gap: 8px;
}

.credits-charge__method-text {
    font-weight: 500;
    font-size: 16px;
    color: #0d0d0d;
}

.method__icon {
    width: 24px;
    height: 24px;
    mask: url(../img/24x24-link.svg) center / contain no-repeat;
    -webkit-mask: url(../img/24x24-link.svg) center / contain no-repeat;
    background-color: #0d0d0d;
}

.credits-charge__method-caption {
    font-weight: 400;
    font-size: 16px;
    color: #8c8c8c;
    text-align: center;
    margin-top: 40px;
}