.join-page {
    min-height: calc(var(--app-vh, 1vh) * 100);
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.join-text {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
    text-align: center;
}

.join-bottom-button {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 36px 0;
    margin-top: auto;
}

.pw__condition {
    font-weight: 400;
    font-size: 14px;
    color: #595959;
    padding: 0 4px;
    margin-top: 6px;
    margin-bottom: 20px;
}

.pw-confirm__text {
    font-weight: 500;
    font-size: 16px;
    color: #0d0d0d;
    margin-bottom: 6px;
}
