.listing-page {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

.listing-header {
    padding: 8px 16px;
}

.listing-text {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
    margin-bottom: 27px;
    display: none;
}

.role-toggle {
    display: flex;
    gap: 12px;
}

.role-toggle input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.listing-pill {
    padding: 8px 16px;
    border-radius: 12px;
    background: #ffffff;
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}

.role-pill {
    border: 1px solid #8b8b8b;
    color: #b0b0b0;
}

.role-toggle input[type="radio"]:checked + .role-pill {
    background: #1fad66;
    color: #ffffff;
    border: 1px solid #1fad66;
    font-weight: 600;
    font-size: 16px;
}

.listing-text__type {
    margin-top: 70px;
    margin-bottom: 24px;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
}

.type-toggle {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}

.type-toggle input[type="radio"] {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none;
}

.type-pill {
    border: 1px solid #8b8b8b;
    color: #b0b0b0;
}

.type-toggle input[type="radio"]:checked + .type-pill {
    background: #1fad66;
    color: #ffffff;
    border: 1px solid #1fad66;
    font-weight: 600;
    font-size: 16px;
}

.listing-wrapper--address {
    display: flex;
    flex-direction: column;

    height: 50dvh;;
}

.address-list-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 12px 0;
}

.matched-address {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 28px 16px 28px;
    border-bottom: 1px solid #e7eafe;

    cursor: pointer;
    user-select: none;
    transition: background-color .15s ease;
}

.matched-address + .matched-address {
    margin-top: 8px;
}

.matched-address.is-selected {
    background: #f2f2f2;
}

.matched-address__top {
    display: flex;
    gap: 4px;
}

.matched-address__icon {
    width: 22px;
    height: 22px;
    mask: url("../img/22x22-house.svg") center/contain no-repeat;
    -webkit-mask: url("../img/22x22-house.svg") center/contain no-repeat;
    background-color: #0d0d0d;
}

.matched-address.is-selected .matched-address__icon{
    mask: url("../img/22x22-house-filled.svg") center/contain no-repeat;
    -webkit-mask: url("../img/22x22-house-filled.svg") center/contain no-repeat;
    background-color: #0d0d0d;
}

.matched-address__title {
    font-weight: 600;
    font-size: 20px;
    color: #262626;
}

.matched-address__bottom {
    display: flex;
    gap: 7px;
}

.matched-address__jibun {
    padding: 2px 4px;
    border-radius: 6px;
    border: 1px solid #bfbfbf;
    font-weight: 400;
    font-size: 12px;
    color: #737373;
}

.matched-address__address {
    font-weight: 400;
    font-size: 16px;
    color: #0d0d0d;
}

.selected-address-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 28px;
    margin-top: 34px;
    margin-bottom: 23px;
}

.selected-address__title {
    font-weight: 600;
    font-size: 20px;
    color: #262626;
}

.selected-address__bottom {
    display: flex;
    gap: 7px;
}

.selected-address__right {
    min-width: 44px;
}

.selected-address__left {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.selected-address__jibun {
    padding: 2px 4px;
    border-radius: 6px;
    border: 1px solid #bfbfbf;
    font-weight: 400;
    font-size: 12px;
    color: #737373;
}

.selected-address-new-wrapper {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 20px;
}

.listing-list-wrapper,
.listing-edit-form {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    height: 50dvh;;
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.listing-list-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 18px 28px;
    border-bottom: 1px solid #e7eafe;
}

.listing-list__top {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
}

.listing-list__label {
    display: inline-block;
    padding: 4px 4px;
    border-radius: 4px;
    background: #fff5f5;
    font-weight: 500;
    font-size: 16px;
    color: #a65959;
}

.listing-list__title-wrapper {
    display: flex;
    gap: 8px;
}

.listing-list__title-icon {
    width: 24px;
    height: 24px;
    mask: url("../img/24x24-house.svg") center/contain no-repeat;
    -webkit-mask: url("../img/24x24-house.svg") center/contain no-repeat;
    background-color: #0d0d0d;
}

.listing-list__title {
    font-weight: 500;
    font-size: 24px;
    color: #262626;
}

.listing-list__address {
    font-weight: 400;
    font-size: 16px;
    color: #0d0d0d;
}

.listing-list__bottom {
    display: flex;
    justify-content: space-between;
}

.listing-list__buttons {
    display: flex;
    gap: 16px;
}

.listing-list__button,
.listing-edit__edit-button {
    padding: 6px 8px;
    border-radius: 4px;
    background: #f2f2f2;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    cursor: pointer;
}

.listing-list__send-wrapper {
    display: flex;
    gap: 8px;
    padding: 2px 8px;
    border-radius: 4px;
    background: #262626;
    align-items: center;
    cursor: pointer;
}

.listing-list__icon {
    width: 24px;
    height: 24px;
    mask: url("../img/24x24-airplane.svg") center/contain no-repeat;
    -webkit-mask: url("../img/24x24-airplane.svg") center/contain no-repeat;
    background-color: #ffffff;
}

.listing-list__send-text {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
}

.listing-edit-wrapper {
    display: flex;
    flex-direction: column;
    gap: 55px;
    padding: 12px 16px 0;
}

.listing-edit__basic-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px
}

.listing-edit__basic {
    display: flex;
    justify-content: space-between;
}

.listing-edit__address {
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
}

.address-edit-wrapper {
    flex: 1 1 auto;
    min-height: 0;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;

    display: flex;
    flex-direction: column;
    padding: 12px 0;
}

.listing-edit__type-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listing-edit__section-title {
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
}

.listing-edit__section-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listing-edit__section {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.section-divider {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 60px;
    margin: 30px 0;
}

.section-divider__line {
    flex: 1;
    height: 2px;
    background-color: #d9d9d9;
}

.section-divider__text {
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
    white-space: nowrap;
}