.login-page {
    padding: 0 16px;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.login-wrapper--id {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
    margin-bottom: 12px;
}

.id__text,
.pw__text {
    font-weight: 500;
    font-size: 16px;
    color: #0d0d0d;
}

.login-wrapper--pw {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
    margin-bottom: 20px;
}

.login-wrapper--find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 12px;
    margin-bottom: 32px;
}

.find__text {
    font-weight: 400;
    font-size: 16px;
    color: #030616;
}

.login-wrapper--sns {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    margin-bottom: 32px;
}

.sns__hr {
    flex: 1;
    height: 1px;
    background: #f2f2f2;
}

.sns__text {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
}

.login-wrapper--sns-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 74px;
    margin-bottom: 32px;
}

.sns__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    flex: none;
}

.icon__kakao {
    background: url("../img/48x48-kakao.png") center/contain no-repeat;
}

.icon__google {
    background: url("../img/48x48-google.png") center/contain no-repeat;
}

.icon__naver {
    background: url("../img/48x48-naver.png") center/contain no-repeat;
}

.login-wrapper--login-btn,
.login-wrapper--email-btn{
    width: 100%;
    margin-bottom: 16px;
}