.login-page,
.find-page {
    min-height: 100dvh;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-top: 50px;
    margin-bottom: 34px;
}

.login-form {
    width: 100%;
}

.login-wrapper--id {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
    margin-bottom: 12px;
}

.email__text,
.pw__text {
    font-weight: 500;
    font-size: 16px;
    color: #0d0d0d;
}

.login-wrapper--pw {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    width: 100%;
    margin-bottom: 34px;
}

.login-wrapper--find {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-top: 1px solid #f9f9f9;
}

.find__text {
    display: flex;
    justify-content: center;
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    color: #030616;
    padding: 10px;
}

.login-wrapper--sns {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 46px;
}

.sns__hr {
    flex: 1;
    height: 1px;
    background: #f2f2f2;
}

.sns__text {
    white-space: nowrap;
    font-weight: 400;
    font-size: 14px;
    color: #a6a6a6;
}

.login-wrapper--sns-icons {
    display: flex;
    gap: 44px;
}

.sns__icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
    flex: none;
}

.icon__kakao {
    background: url("../img/48x48-kakao.svg") center/contain no-repeat;
}

.icon__google {
    background: url("../img/48x48-google.svg") center/contain no-repeat;
}

.icon__naver {
    background: url("../img/48x48-naver.svg") center/contain no-repeat;
}

.login-bottom-wrapper {
    position: sticky;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    background: #ffffff;
    padding-bottom: 34px;
}

.find-tabs {
    display: flex;
    margin-top: 20px;
    margin-bottom: 44px;
    border-radius: 12px;
    border: 1px solid #262626;
    overflow: hidden;
}

.find-tab {
    flex: 1;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
    color: #262626;
}

.find-tab--active {
    background: #262626;
    font-weight: 600;
    color: #FFFFFF;
}

.find-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.find-content__title {
    font-weight: 500;
    font-size: 20px;
    color: #0D0D0D;
}

.find-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.find-form__group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.find-form__label {
    font-weight: 500;
    font-size: 16px;
    color: #0D0D0D;
}

