.region-text {
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
    padding: 0 16px;
    margin-top: 12px;
    margin-bottom: 60px;
    text-align: center;
}

.region-selected,
.region-tag-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 8px;
    padding: 0 16px 16px;
    justify-content: center;
}

.region-selected-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 120px;
    height: 44px;
    align-items: center;
}

.region-selected--sido {
    background: #3551e3;
    border-radius: 12px;
}

.region-selected--sido .region-selected__name {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.region-selected--sigungu {
    background: #1fad66;
    border-radius: 12px;
}

.region-selected--sigungu .region-selected__name {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.region-selected--emd {
    background: #d4f7e5;
    border-radius: 12px;
}

.region-selected--emd .region-selected__name {
    color: #17824c;
    font-weight: 500;
    font-size: 16px;
}

.region-selected__delete {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    mask: url("../img/24x24-delete.svg") center/contain no-repeat;
    -webkit-mask: url("../img/24x24-delete.svg") center/contain no-repeat;
}

.region-selected--emd .region-selected__delete {
    background-color: #17824c;
}

.region-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.region-tag--sido {
    color: #3551e3;
    border: 1px solid #3551e3;
}

.region-tag--sigungu {
    color: #17824c;
    border: 1px solid #17824c;
}

.region-tag--emd {
    color: #17824c;
    border: 1px solid #7de8b2;
}

.region-step__bottom-sheet--4 {
    width: 100%;
    padding: 24px 16px;
    border-top: 1px solid #f2f2f2;
    box-shadow: 0 -4px 15px 0 #0000001A;
}

.region-step__bottom-sheet--5 {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    border-top: 1px solid #f2f2f2;
    box-shadow: 0 -4px 15px 0 #0000001A;
    gap: 20px;
}

.region-step__location-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.region-step__location-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 12px;
    gap: 16px;
    padding: 16px 12px;
    border: 1px solid #bfbfbf;
}

.region-step__location-card.pressed {
    background: #e7eafe;
}

.location-card__head {
    display: flex;
    justify-content: space-between;
}

.location-card__addr {
    font-weight: 600;
    font-size: 18px;
    color: #262626;
}

.location-card__icons {
    display: flex;
    gap: 20px;
}

.location-card-icon--star {
    width: 24px;
    height: 24px;
    background: url("../img/24x24-star.svg") center/24px 24px no-repeat;
}

.location-card-icon--light-star {
    width: 24px;
    height: 24px;
    background: url("../img/24x24-light-star.svg") center/24px 24px no-repeat;
}

.location-card-icon--delete {
    width: 24px;
    height: 24px;
    background: url("../img/24x24-delete-black.svg") center/24px 24px no-repeat;
}

.location-card__tags {
    display: flex;
    gap: 16px;
}

.location-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 8px;
    box-sizing: border-box;
    background: #ffffff;
}

.region-step__buttons {
    display: flex;
    gap: 16px;
}