.region-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
}

.region-header__back {
    position: absolute;
    left: 16px;
    width: 48px;
    height: 48px;

    background: url("../img/24x24-arrow.svg") center/24px 24px no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}

.region-header__title {
    font-size: 24px;
    font-weight: 600;
    color: #0d0d0d;
    text-align: center;
}

.region-header__right {
    position: absolute;
    right: 16px;
    width: 48px;
    height: 48px;

    background: url("../img/24x24-X.svg") center/24px 24px no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}

.region-step__bar {
    display: flex;
    align-items: center;
    padding: 0 36px;
}

.region-step__prev {
    width: 14px;
    height: 14px;
    background: url("../img/14x14-doubleCircle.svg") center/14px 14px no-repeat;
}

.region-step__prev.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.region-step__line {
    flex: 1;
}

.region-step__line.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.region-step__line--left {
    border-top: 1px dashed #bcc5f6;
}

.region-step__current {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 24px;
}

.region-step__circle {
    width: 24px;
    height: 24px;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 500;
    background: #3551e3;
    color: #ffffff;
}

.region-step__caption {
    font-weight: 500;
    font-size: 12px;
    color: #3551e3;
    height: 14px;
    padding: 6px 0;
    white-space: nowrap;
    text-align: center;
}

.region-step__caption:empty {
    opacity: 0;
    visibility: hidden;
}

.region-step__line--right {
    border-top: 1px dashed #bfbfbf;
}

.region-step__next {
    width: 8px;
    height: 8px;
    background: url("../img/8x8-circle.svg") center/8px 8px no-repeat;
}

.region-step__next.is-hidden {
    opacity: 0;
    visibility: hidden;
}

.region-text {
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
    padding: 0 16px;
    margin-top: 12px;
    margin-bottom: 60px;
    text-align: center;
}

.region-selected,
.region-tag-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    gap: 8px;
    padding: 0 16px 16px;
    justify-content: center;
}

.region-selected-wrapper {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 120px;
    height: 44px;
    align-items: center;
}

.region-selected--sido {
    background: #3551e3;
    border-radius: 12px;
}

.region-selected--sido .region-selected__name {
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
}

.region-selected--sigungu {
    background: #1fad66;
    border-radius: 12px;
}

.region-selected--sigungu .region-selected__name {
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

.region-selected--emd {
    background: #d4f7e5;
    border-radius: 12px;
}

.region-selected--emd .region-selected__name {
    color: #17824c;
    font-weight: 500;
    font-size: 16px;
}

.region-selected__delete {
    display: block;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    mask: url("../img/24x24-delete.svg") center/contain no-repeat;
    -webkit-mask: url("../img/24x24-delete.svg") center/contain no-repeat;
}

.region-selected--emd .region-selected__delete {
    background-color: #17824c;
}

.region-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 8px;
    box-sizing: border-box;
}

.region-tag--sido {
    color: #3551e3;
    border: 1px solid #3551e3;
}

.region-tag--sigungu {
    color: #17824c;
    border: 1px solid #17824c;
}