.region-header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    gap: 8px;
    background: #ffffff;
}

.region-header__back {
    position: absolute;
    left: 16px;
    width: 48px;
    height: 48px;

    background: url("../img/24x24-arrow.svg") center/24px 24px no-repeat;
    border: none;
    padding: 0;
    cursor: pointer;
}

.region-header__title {
    font-size: 24px;
    font-weight: 600;
    color: #0d0d0d;
    text-align: center;
}

.region-header__right {
    position: absolute;
    right: 16px;
    width: 48px;
    height: 48px;
}

.region-text {
    font-weight: 500;
    font-size: 20px;
    color: #0d0d0d;
    padding: 0 16px;
    margin-top: 12px;
    margin-bottom: 60px;
}

.region-tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 0 20px;
}

.region-tag {
    height: 44px;
    padding: 12px 16px;
    border-radius: 8px;
}

.region-tag--sido {
    color: #3551e3;
    border: 1px solid #3551e3;
}

.region-tag--sigungu {
    color: #1fad66;
    border: 1px solid #1fad66;
}