<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
        ~{::title},
        ~{::pcSideContent},
        ~{::section},
        ~{::extraCss}
      )}">

<head>
    <title>우산 - 우리동네 부동산</title>
</head>

<th:block th:fragment="extraCss"></th:block>

<th:block th:fragment="pcSideContent">
    <div class="align_center direction_column pc-side-inner">
        <h1 class="pc-side-title">우리 동네 부동산</h1>
        <p class="pc-side-desc">
            내 주변 중개사, 매물 정보를<br/>
            한 번에 확인하세요.
        </p>
        <img src="/img/side-test.jpeg"
             alt="우리 동네 부동산 소개"
             class="pc-side-img"
             style="width: 50%">
    </div>
</th:block>

<section class="home-page">
    <div class="home-section">
        <h2 class="home-section__title">지도로 중개사 찾기 섹션</h2>
    </div>
    <div class="home-section">
        <h2 class="home-section__title">내 매물 전송 섹션</h2>
    </div>
    <div class="home-section">
        <h2 class="home-section__title">주변 중개사 섹션</h2>
    </div>
</section>

</html>