<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
        ~{::title},
        ~{::pcSideContent},
        ~{::section},
        ~{::extraCss}
      )}">

<head>
    <title th:fragment="title">중개사 상세보기</title>
</head>

<th:block th:fragment="pcSideContent">
    <th:block th:replace="~{fragments/pc-side :: pcSideContent}"></th:block>
</th:block>

<th:block th:fragment="extraCss">
</th:block>

<section class="share-page">
    <div class="common-header">
        <div class="common-header__title">중개사 안내</div>
        <div class="common-header__right"></div>
    </div>

    <div class="share-listing-wrapper">

        <div class="share-listing__address-block">
            <div class="share-listing__address" th:text="${broker.officeName}"></div>
        </div>

    </div>
</section>
</html>
