<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
        ~{::title},
        ~{::pcSideContent},
        ~{::section},
        ~{::extraCss}
      )}">

<head>
    <title th:fragment="title">결제관리 | 우산</title>
</head>

<th:block th:fragment="pcSideContent">
    <th:block th:replace="~{fragments/pc-side :: pcSideContent}"></th:block>
</th:block>

<th:block th:fragment="extraCss">
    <meta name="robots" content="noindex, nofollow">
    <link rel="stylesheet" th:href="@{/css/payments.css(t=${#dates.createNow().time})}">
</th:block>

<section class="payments-page">
    <div class="common-header">
        <button class="common-header__back" th:onclick="history.back()"></button>
        <h1 class="common-header__title">결제관리</h1>
        <div class="common-header__right"></div>
    </div>

    <div class="payments-wrapper">
        <img src="/img/135x128-coin.png">

        <div class="payments__links">
            <a class="payments__link"
               th:href="@{/credits/charge}">
                <div class="link__text">크레딧 충전하기</div>
                <div class="link__icon"></div>
            </a>
            <a class="payments__link"
               th:href="@{/payments/history}">
                <div class="link__text">크레딧 결제 내역</div>
                <div class="link__icon"></div>
            </a>
            <a class="payments__link"
               th:href="@{/credits/history}">
                <div class="link__text">크레딧 내역</div>
                <div class="link__icon"></div>
            </a>
        </div>
    </div>


    <div class="btn__wrapper flex_center">
        <div class="payments__bottom-credits">현재 크레딧 :
            <span th:text="${#numbers.formatInteger(balance, 1, 'COMMA')}">0</span> C
        </div>
    </div>

    <th:block th:replace="~{fragments/footer :: footerFragment}"></th:block>

</section>