<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/layout :: layout(
        ~{::title},
        ~{::pcSideContent},
        ~{::section},
        ~{::extraCss}
      )}">

<head>
    <title th:fragment="title">결제 내역</title>
</head>

<th:block th:fragment="pcSideContent">
    <th:block th:replace="~{fragments/pc-side :: pcSideContent}"></th:block>
</th:block>

<th:block th:fragment="extraCss">
    <link rel="stylesheet" th:href="@{/css/payments.css(t=${#dates.createNow().time})}">
</th:block>

<section class="payments-page">
    <div class="common-header">
        <button class="common-header__back" th:onclick="history.back()"></button>
        <div class="common-header__title">결제 내역</div>
        <div class="common-header__right"></div>
    </div>

    <div class="payments-history-wrapper">

        <div class="payments-history__filter">
            <a th:href="@{/payments/history(status='ALL')}"
               class="payments-history__filter-item filter-item__left"
               th:classappend="${status == 'ALL'} ? ' is-active'">전체</a>
            <a th:href="@{/payments/history(status='SUCCESS')}"
               class="payments-history__filter-item filter-item__center"
               th:classappend="${status == 'SUCCESS'} ? ' is-active'">결제 완료</a>
            <a th:href="@{/payments/history(status='FAILED')}"
               class="payments-history__filter-item filter-item__right"
               th:classappend="${status == 'FAILED'} ? ' is-active'">결제 실패</a>
        </div>

        <div class="payments-history__list">
            <div th:if="${#lists.isEmpty(payments)}" class="payments-history__empty">
                내역이 없습니다.
            </div>
            <div th:each="payment : ${payments}" class="payments-history__item">
                <div class="payments-history__left">
                    <div class="payments-history__title-wrapper">
                        <span class="payments-history__title" th:text="${payment.creditOrder.productNameSnapshot}">크레딧 충전</span>
                        <span class="payments-history__credit" th:text="${payment.creditOrder.totalCreditSnapshot} + 'C'">0C</span>
                    </div>
                    <div class="payments-history__info-wrapper">
                        <span class="payments-history__date"
                              th:text="${#temporals.format(payment.requestedAt, 'yyyy.MM.dd')}">-</span>
                        <span class="payments-history__dot">·</span>
                        <span class="payments-history__price"
                              th:text="${#numbers.formatInteger(payment.requestedAmount, 1, 'COMMA')} + '원'">0원</span>
                    </div>
                </div>
                <div class="payments-history__price-tag"
                     th:classappend="${payment.paymentStatus.name() == 'SUCCESS'} ? ' complete-tag' : ' fail-tag'"
                     th:text="${payment.paymentStatus.name() == 'SUCCESS'} ? '결제 완료' : '결제 실패'">-</div>
            </div>
        </div>
    </div>

    <div class="payments-btn__wrapper">
        <div class="payments__bottom-credits">현재 크레딧 :
            <span th:text="${#numbers.formatInteger(balance, 1, 'COMMA')}">0</span> C
        </div>
        <a th:href="@{/credits/charge}" class="payments-btn">크레딧 충전하기</a>
    </div>

</section>